
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div>
    @(Html.Kendo()
    .Upload()
    .Name("upload")
    .Multiple(true)
    .Async(async =>
        {
            async.AutoUpload(true)
                .Save("UploadFiles", "Widgets");
        })
    )
</div>