/**
 * Styles
 */


/*Removed all the unnecessary css; I didn't minify the file so that you can read it easily*/
/*----------------------------------------------------------------------------*/

/** Root elements */
html {
	background: #ffffff;
}
body {
	margin: 0 auto;
	padding: 1.5em 0;
	width: 640px;
	color: #000000;
	font-family: Calibri, "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, Lucida, sans-serif;
	font-size: 14px;
}

p {margin: 1.5em 0}

/** Links */
a {color: #0055aa; text-decoration: none}
a:visited{color: #990099}
a:hover {text-decoration: underline; color: #cc0000}
a:focus {outline: 1px dotted}
a:active {}

/** Selection */
.selection {}
.selection .selected {
	font-weight: bold;
}


/** Blue text */
.text-info,
.text-normal {color: #5a96d0}


.ui-box {
	margin: 1em 0;
	padding: .75em .75em .75em 3em;
	background-position: 1em center;
	background-repeat: no-repeat;
	border-top: 1px solid;
	border-bottom: 1px solid;
	font-size: 0.9em;
}
	/** Green boxes */
	.box-success {
		background-color: #e4f1de;
		border-color: #70bf54;
	}		
	/** Blue boxes */
	.box-info {
		background-color: #f0f0f0;
		border-color: #b1c3d5;
	}