body, span, button, div {
    padding:0;
    margin:0;
}

.btn{
/*When I tried to use <button> tags for the buttons the box shadow
     didn't appear as it should in Firefox, that's why I used <div>
    I'll be happy to hear a better solution for that problem */

    padding:0;
    font-family:sans-serif;
    font-size:1.1em;
    display:inline-block;
    border:0;
    line-height:42px;
    margin: 10px 10px;
    cursor:pointer;
    border-radius:30px;
    background: none;
    box-shadow: rgba(128, 128, 128, 0.7) 4px 4px 4px;
}

.left, .right{
    height:47px;
    width:22px;
    background-repeat:no-repeat;
    background-position: 0 0;
}

.left
{
    float:left;
    background:url(imgs/left.png);
}

.content{
    padding: 0 10px;
    float:left;
    background:url(imgs/center.png);
    height:47px;
}

.content a {
    text-decoration:none;
    color:black;
}

.right{
    float:left;
    background:url(imgs/right.png);
}