@model MVCApplication.Areas.Products.Models.ProductModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<fieldset>
    <legend>ProductModel</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</fieldset>