@model IEnumerable<Twitter.Models.Tweet>

@{
    if (Model.Count() == 0)
{
    <div class="well">no tweets found</div>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @string.Join(" ", item.Tags.Select(t => "#" + t.Title).ToArray())
            </td>
        </tr>
    }
</table>
}
}