<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySQLSupermarketsDbOpenAccess" connectionString="server=LOCALHOST;user id=root;password=1234;persist security info=True;database=supermarketsdb" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>