body {
    
    background: #bbc;
}

#image {
    border-radius: 3px;
    border: 0;
    max-width: 99%;
    box-shadow: rgba(30, 30, 30, 0.6) 3px 3px;
    position: relative;
}


#image_container {

    margin: 10% auto;
    width: 40%;
}

#left_button{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 20%;
    background: url(../imgs/left_arrow.png), no-repeat;
}

#right_button {
    position: absolute;
    right: 20%;
    top: 50%;
    width: 32px;
    height: 32px;
    background: url(../imgs/right_arrow.png), no-repeat;
}