<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySQLSupermarketsDbOpenAccess" connectionString="server=LOCALHOST;user id=root;password=1234;persist security info=True;database=supermarketsdb" providerName="MySql.Data.MySqlClient" />
    <add name="SupermarketsDbSQLServer" connectionString="Data Source=.;Initial Catalog=SupermarketsDbSQLServer;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TaxesEntities" connectionString="metadata=res://*/TaxesModel.csdl|res://*/TaxesModel.ssdl|res://*/TaxesModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;E:\CubaLibreProject\CubaLibreProjectSolution\SQLite.Models.EntityFramework\taxes.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>